__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg
.venv/
venv/
.env
*.so


# credentials
src/configs/platform/credentials/custom/default_custom.yaml
src/configs/platform/custom/local_custom.yaml
src/configs/platform/custom/default_custom.yaml
src/configs/platform/custom/slurm_custom.yaml
src/configs/platform/local_akopyane.yaml
